body{background-color:#c9cacc;}
#popup{width:705px;height:480px;border:1px solid #a9aaab;background-color:#fff;border-radius:5px;margin:100px auto; box-shadow:#999 0 0 5px;}
#popup .t{font-size:30px;color:#333;text-align:center;padding-top:60px;}
#popup .m{font-size:14px;color:#999;text-align:center;padding-top:30px;}
#popup dl dt{clear:both;font-size:16px;color:#666;text-align:center;padding:30px 0;}
#popup dl dd{ float:left;margin-right:75px;}
#popup dl dd.last{margin-right:0;}
#popup dl{width:520px; margin:0 auto;}
