#page{padding:150px 0;background-color:#f5f5f5;border-bottom:1px solid #c8c8c8;}
.poster-main{ position:relative;width:800px;height:270px;margin:0 auto;}
.poster-main a,.poster-main img{display:block;}
.poster-main .poster-list{width:800px;height:270px;}
.poster-main .poster-list .poster-item{ position:absolute;left:0;top:0;}
.poster-main .poster-btn{ position:absolute;top:0;width:100px;height:270px; z-index:10; cursor:pointer;  opacity:0.8}
.poster-main .poster-prev-btn{left:0; background: url(../images/btn_l.png) no-repeat center 170px;}
.poster-main .poster-next-btn{right:0; background: url(../images/btn_r.png) no-repeat center 170px;}

